<div class="container about">
    <h1>
        <%= title %>
    </h1>

    <div class="container mt-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div class="card p-3 py-4">

                    <div class="text-center">
                        <img src="./content/images/headshot.jpg" width="100" class="rounded-circle"
                            alt="Profile picture">
                    </div>

                    <div class="text-center mt-3">

                        <h5 class="mt-2 mb-0">Pedro da Silva Dergado</h5>
                        <span>IT | Network | Defense | Supply Chain</span>

                        <div class="px-4 mt-1">
                            <p class="fonts">Originally from Brazil, I am living and working in Canada for about 10
                                years.
                                <br />
                                With great international exposure I embraced multiculturalism and working with people
                                from diverse nationalities.<br />
                                Currently, I am studying to be a Software Engineering Techinician, but I also have a
                                diploma in business,
                                international trade, and a bachelor in International affairs.
                                <br />
                                Recently, I moved to St. Catharines and I am enjoying the lifestyle of a smaller city.
                                <br />
                                I am open to new opportunities!!
                            </p>

                        </div>

                        <ul class="social-list">
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-dribbble"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fa fa-linkedin"></i></li>
                            <li><i class="fa fa-google"></i></li>
                        </ul>

                        <div class="buttons">

                            <button class="btn btn-outline-primary px-4">Curriculum Vitae</button>
                            <a href="./content/docs/CV.pdf" target="_blank"> click her for CV</a>
                            <button class="btn btn-primary px-4 ms-3">Contact</button>
                            <a href="/contact">click here</a>

                        </div>


                    </div>




                </div>

            </div>

        </div>

    </div>

</div>