<div class="container home">
    <h1>
        <%= title %>
    </h1>

    <p> Welcome to my personal portifolio page, know more about me by <a href="/about">clicking here</a></p>

    <br />

    <p> mission statement</p>

    <div id="home" class="ct-header ct-header--slider ct-slick-custom-dots">
        <div class="ct-slick-homepage" data-arrows="true" data-autoplay="false">

            <div class="ct-header tablex item" data-background="uploads/banner-01.jpg">
                <div class="ct-u-display-tablex">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 slider-inner">
                                    <h1 class="big animated">Hello I'm Web Designer</h1>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Suspendisse iaculis massa bibendum sodales rhoncus.</p>
                                    <a class="btn-new from-middle animated" href="#">Download cv</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ct-header tablex item" data-background="uploads/banner-01.jpg">
                <div class="ct-u-display-tablex">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 slider-inner">
                                    <h1 class="big animated">Hello I'm Ux/Ui Designer</h1>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Suspendisse iaculis massa bibendum sodales rhoncus.</p>
                                    <a class="btn-new from-middle animated" href="#">Download cv</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ct-header tablex item" data-background="uploads/banner-01.jpg">
                <div class="ct-u-display-tablex">
                    <div class="inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 slider-inner">
                                    <h1 class="big animated">Hello I'm Web Developer</h1>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Suspendisse iaculis massa bibendum sodales rhoncus.</p>
                                    <a class="btn-new from-middle animated" href="#">Download cv</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- .ct-slick-homepage -->
    </div><!-- .ct-header -->


</div>